@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

#header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

#barranav a{
  color: #ffffff;
}
#barranav a:hover{
  color: #9fedd7;
}


.label {
  width:1000px;
  float: left;
  }
.justificado{
  text-align:justify;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 50%;
  }
.titulo{
  text-align:center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  }

hr {
  height: 10px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width:"50%" ;
  background-color: black;
  width: 50%;
  size: 5px;
}

/* SECCION I N I C I O */

.titImag{  
  background-image: url('Imagenes/portada.png');  
  height: 90%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tituloPrincipal{

  font-size: 100px;
  letter-spacing: 3px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #026670;
  color: #fce181;
  position: relative;  

}
.centrado{
  text-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-family: "Lucida Console", Monaco, monospace;
  }

.redes a{
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 45%;
  color: rgb(0,0,0);
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 10px;
  font-size: 20px;
  transition: .3s;
}
.redes a:hover{
    background-color: #1CB698;
}

/* SECCION SOBRE MI */

.sobremi{
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
  display: block;

}

.titsec h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;

}



  .descripcion
  {  
    padding: 2%;
    background-color: #5e5e5e;


     
  }
  
  .descripciontxt{  
    text-align:justify;
    margin: auto;
    width: 50%;
    color: rgb(255, 255, 255);
  }


.imgInicio img{
  border: 5px solid #1CB698;
  position: relative;
  top: 50%;
  left: 60;
  transform: translate(0, -50%);
  width: 70%;
  border-radius: 100%;
  
}
#secSM span{
  color: #1CB698;
  font-weight: bold;
}



#subtitPrincipal{
  color: #ffffff;
}

.imgSM{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 5px solid rgb(231, 195, 77);
}


#dp .col-sm-6 h3{
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
  margin-top:25px;
  text-align: center;
}

#dp .col-sm-6 .contenedor-intereses{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left:50;

}
#dp .col-sm-6 .contenedor-intereses .interes{
  width: 100px;
  height: 100px;
  background-color: #252A2E;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
#dp .col-sm-6 .contenedor-intereses .interes span{
  color: #ffffff;
  font-size: 15px;
}
#dp .col-sm-6 .contenedor-intereses .interes:hover{
  background-color: #1CB698;
}
#dp .col-sm-6 .contenedor-intereses .interes i{
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
}

.sobreMiB{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ffffff;
  width: fit-content;
  display: block;
  margin: 60px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  z-index: 10;
}

.sobreMiB .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.sobreMiB:hover .overlay{
  width: 100%;
}

/* SECCION S K I L L S */
.skills{
  background-color: #5e5e5e;
  color: #fff;
  padding: 50px 20px;
}
.skills .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.skills h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;

}
.skills .row{
  display: flex;
}
.skills .row .col{
  width: 50%;
  padding: 0 20px;
}
.skills .row .col h3{
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 25px;
}
.skills .row > span{
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}
.skills .row .barra-skill{
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}
.skills .row .progreso{
  background-color: #1CB698;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .row .barra-skill span{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1CB698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}


/* CONTACTO */

.container-contacto {
  background-image: url(Imagenes/contact_bg.png);
  background-color: #1e2326;
  color: #fff;
  padding: 20px 0;
  }

  .formulario{
    padding: 50px 300px;
    }
  

.contB button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.contB button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.contB button:hover .overlay{
  width: 100%;
}

/* SECCION PORTFOLIO */
.portfolio{
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
}
.portfolio .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.portfolio h2{
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}
.portfolio .galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto{
  position: relative;
  max-width: 340px;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
}
.pfImag{
  width: 100%;
  display: block;
}
.overlay{
  position: absolute;
  color: #fff;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
  margin-bottom: 20px;
  transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
  opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
  margin-bottom: 0px;
}