<div class="container-fluid titsec">
    <h2 class="titulo">
      Sobre Mi
    </h2>
    <div class="row descripcion">
      <div class = "descripciontxt col-sm-8">
        <p><span>Hola, soy Tomi Martin. Tal vez me recuerden de peliculas como... </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium expedita eveniet soluta non, necessitatibus dolorum incidunt delectus consequuntur corrupti ex labore, enim iure facilis, earum maxime deleniti ad placeat ratione.</p>
      </div>
      <div class = "imgInicio col-sm-4">
        <img src="/assets/Imagenes/FotoCV.jpg" alt="">
      </div>
    </div>
  </div>

<section class="sobremi">
  
      <div class="row" id = "dp">
        <!-- datos personales -->
        <div class="col-sm-6">
            <h3>Datos Personales</h3>
            <ul>
                <li>
                    <strong>Cumpleaños: </strong>
                    20-03-1995
                </li>
                <li>
                    <strong>Email: </strong>
                    tomasheto@hotmail.es
                </li>
                <li>
                    <strong>Dirección: </strong>
                    Av. Urquiza 4561, Caseros, BA, Argentina
                </li>
                <li>
                    <strong>Cargo Actual: </strong>
                    <span>Desarrollador y Electrónico en Tel-Sen</span>
                </li>
            </ul>
      </div>
    

      <!-- intereses -->
      <div class="col-sm-6">
          <h3>Intereses</h3>
          <div class="contenedor-intereses">

              <div class="interes">
                  <i class="fa-solid fa-headphones"></i>
                  <span>MUSICA</span>
              </div>
              <div class="interes">
                  <i class="fa-solid fa-plane"></i>
                  <span>VIAJAR</span>
                </div>
              <div class="interes">
                    <i class="fa-sharp fa-solid fa-tree"></i>
                    <span>NATURALEZA</span>
              </div>
              
              <div class="interes">
                <i class="fa-sharp fa-solid fa-microchip"></i>
                  <span>ELECTRONICA</span>
              </div>
              <div class="interes">
                <i class="fa-sharp fa-solid fa-terminal"></i>
                  <span>PROGRAMAR</span>
              </div>
              <div class="interes">
                <i class="fa-sharp fa-solid fa-music"></i>
                <span>AUDIO</span>
              </div>
          </div>
      </div>
    </div>
  
   <a href="Imagenes\CV-Martin.pdf" download="CV_Martin.pdf">
  <button class = "sobreMiB">
      Descargar CV <i class="fa-solid fa-download"></i>

      
      <span class="overlay"></span>
  </button>
  </a>


</section>

<!-- SECCION SKILLS -->

<section class="skills" id="skills">
  <div class="contenido-seccion">
      <h2>Skills</h2>
      <div class="row">
          <!-- Technical Skill -->
          <div class="col">
              <h3>Technical Skills</h3>
              <div class="skill">
                  <span>Javascript</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>75%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>HTML & CSS</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>89%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Photoshop</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>95%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Wordpress</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>81%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Drupa</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>55%</span>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Professional Skills -->
          <div class="col">
              <h3>Professional Skills</h3>
              <div class="skill">
                  <span>Comunicación</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>80%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Trabajo en Equipo</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>70%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Creatividad</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>99%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Dedicación</span>
                  <div class="barra-skill  ">
                      <div class="progreso ">
                          <span>65%</span>
                      </div>
                  </div>
              </div>
              <div class="skill">
                  <span>Proyect Management</span>
                  <div class="barra-skill">
                      <div class="progreso">
                          <span>94%</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  


</section>