<div class="container-fluid titsec">
  <h2 class="titulo">PORTFOLIO</h2>
</div>
<!-- SECCION PORTFOLIO -->
<section class="portfolio">
  <div class="contenido-seccion">
    <div class="galeria">
      <div class="proyecto">
        <a
          class="nav-item nav-link"
          href="\assets\Imagenes\Martin Tomas_Avance 5_Detección y clasificación automática de registros acústicos de embarcaciones_.pdf"
        >
          <img class="pfImag" src="/assets/Imagenes/IA.jpg" alt="" />

          <div class="overlay">
            <h3>Machine Learning</h3>
            <p>
              Detección y clasificación automática de registros acústicos de
              embarcaciones.
            </p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          href="\assets\Imagenes\Informe Final de PPS - Martin Tomas.pdf"
        >
          <img
            class="pfImag"
            src="\assets\Imagenes/DetectorCetaceos.png"
            alt=""
          />

          <div class="overlay">
            <h3>Acústica Subacuática</h3>
            <p>Detector Semi-Automatico de Ballena Fin</p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          href="\assets\Imagenes\Acoustical Parameters_Bevilacqua_Martín_Martínez_1C2020.pdf"
        >
          <img class="pfImag" src="\assets\Imagenes/MAcust.png" alt="" />

          <div class="overlay">
            <h3>Acústica</h3>
            <p>Medición Acústica de Microestado UNTREF</p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a class="nav-item nav-link" href="https://linktr.ee/Mansion.Sesiones">
          <img class="pfImag" src="\assets\Imagenes/Logo blanco.png" alt="" />
          <div class="overlay">
            <h3>Producción Audiovisual</h3>
            <p>Sesiones en la Mansión</p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          href="\assets\Imagenes/Desarrollo de un software de procesamiento re RIRs_Bevilacqua_Martín_Martínez_1C2020_V1.pdf"
        >
          <img class="pfImag" src="\assets\Imagenes/RIR.png" alt="" />

          <div class="overlay">
            <h3>Desarrollo en Python</h3>
            <p>Herramienta para el Procesamiento RIR's</p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a
          class="nav-item nav-link"
          href="https://www.youtube.com/watch?v=bTmYCmcbnxM&ab_channel=D%C3%BAoMoyano-Burgos"
        >
          <img class="pfImag" src="\assets\Imagenes/DuoMB.jpg" alt="" />
          <div class="overlay">
            <h3>SIGNUM</h3>
            <p>Grabación, Mezcla y Mastering</p>
          </div>
        </a>
      </div>

      <div class="proyecto">
        <a class="nav-item nav-link" href="\assets\Imagenes\TP2-LPC-MARTIN.pdf">
          <img class="pfImag" src="\assets\Imagenes/3.jpg" alt="" />

          <div class="overlay">
            <h3>Desarrollo en Matlab</h3>
            <p>Síntesis de Voz por LPC</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
